h1, h2 {
    font-family: 'Abril Fatface', serif;
    text-align: center;
    padding: 10;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 3.5rem;
    font-family: 'Abril Fatface', serif;
    font-weight: 700;
    font-optical-sizing: auto;
}

h3{
    padding-left:20px;
}

.gradient {
    /* background: linear-gradient(135deg, #0292be, #66248d); */
    background: linear-gradient(135deg, #e9f4ff, #5580ec);
    /* background: linear-gradient(135deg, #d0f8ec, #cdd3e1); */

}


.project-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8rem;
    color: #333;
}
 
body {
    color: #333;
}

/* Responsive Design */
@media (max-width: 1000px) {
    body{
        padding:0px;
    }
    h1, h2 {
        font-family: 'Abril Fatface', serif;
        padding: 5px;
        margin-top: 4px;
        margin-bottom: 3px;
        color: #ffffff;
        font-size: 3.0rem; 
        font-weight: 700;
        font-optical-sizing: auto;
    }
}
